{% extends 'home.html' %}

{% block content %}

<div class="container">
    <br>
    <h3>FAQ</h3>
    <br>
<ul class="list-group">
    <li class="list-group-item"><strong>What is the purpose of National Cyber Crime Reporting Portal?</strong><br><br>
        This portal is an initiative of Government of India to facilitate victims/ complainants to report cyber crime complaints online. This portal caters all types of cyber crime complaints including complaints pertaining to online Child Pornography (CP), Child Sexual Abuse Material (CSAM) or sexually explicit content such as Rape/Gang Rape (CP/RGR) content and other cyber crimes such as mobile crimes, online and social media crimes, online financial frauds, ransomware, hacking, cryptocurrency crimes and online cyber trafficking.</li>
    <li class="list-group-item"><strong>What is CSAM?</strong><br><br>
        Child Sexually Abusive Material (CSAM) refers to material containing sexual image in any form, of a child who is abused or sexually exploited. Section 67 (B) of IT Act states that “it is punishable for publishing or transmitting of material depicting children in sexually explicit act, etc. in electronic form”.
        
        </li>
    <li class="list-group-item"><strong> Type of Cyber Crimes I can report on the Portal?</strong><br><br>
        First of all the users have to register to report cyber crimes. The Registered users can report crimes related to Women/ Child – Under this section, you can report complaints pertaining to online Child Pornography (CP), Child Sexual Abuse Material (CSAM) or sexually explicit content such as Rape/Gang Rape (CP/RGR) content and 
        
        Report Other Cybercrimes –  you can report complaints pertaining to cybercrimes such as mobile crimes, online and social media crimes, online financial frauds, ransomware, hacking, cryptocurrency crimes and online cyber trafficking.</li>
    <li class="list-group-item"><strong>What type of information would be considered as evidence while filing my complaint related to Cybercrime?</strong><br><br>It is important to keep any evidence you may have related to your complaint. Evidence may include:credit card receipt,bank statement,envelope (if received a letter or item through mail or courier),brochure/pamphlet,online money transfer receipt,copy of email,URL of webpage,chat transcripts,suspect mobile number screenshot,videos,images and Any other kind of document</li>
    <li class="list-group-item"><strong>What happens once I report a complaint?</strong><br><br>
        The complaints reported on the portal shall be handled by the concerned district police authorities based on your selection of district while reporting the complaint. And can follow up the case details and investigation progress via logging in to your account.
        
        </li>
</ul>
</div>

{% endblock %}