{% extends 'Manager/home.html' %}

{% block content %}
<style>
    /* Add your custom styles here */
    .case-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    .case-table th, .case-table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: left;
    }
    .case-table th {
        background-color: #007bff;
        color: #fff;
    }
    .case-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .view-more-link {
        color: #007bff;
        text-decoration: none;
    }
</style>
<center><br><br>
<h1>Employees Under {{ d }} District</h1></center>
<br><br><br>
<table class="case-table">
    <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
      
        <th>Address</th>
        
       
      
    </tr>
    {% for case in cases %}
    <tr>
        <td>{{ case.name }}</td>
        <td>{{ case.mobile_no }}</td>
        <td>{{ case.email }}</td>
        <td>{{ case.address }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="15">No case details available.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
