{% extends 'adminbase.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    <h1>Create Post</h1>
    <br>

        <form method="post" action="">

            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label"> Post Name</label>
              <input type="text" class="form-control" id="postname" name="postname" required>
            </div>
   
              <div class="mb-3">
                <label class="form-label">Post Description</label>
                <textarea class="form-control" id="postdescription" name="postdescription" rows="3" required></textarea>
            </div>

            <br>
    
            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    
    </div>

{% endblock %}