{% extends 'generalbase.html' %}

{% block content %}
{% load static %}
<br>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static '0.jpeg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{% static '1.jpeg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static '2.jpeg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static '3.jpeg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <br>

<div class="container">

<div class="row d-flex justify-content-center align-items-center">    
  
  <div class="card" style="width: 24rem;">
  <img src="{% static 'l.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Learning Corner</h5>
    <p class="card-text">Cyberhawk to learn about cyber crimes & how to keep yourself safe in cyber world.</p>

  </div>
  </div>

  <div class="card" style="width: 24rem;">
    <img src="{% static 'c.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contact Us</h5>
      <p class="card-text">Cyberhawk provides district based officiers numbers to communicate about cybercrimes.</p>

  </div>
  </div>

  <div class="card" style="width: 24rem;">
    <img src="{% static 'r.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Register A Complaint</h5>
      <p class="card-text">Cyberhawk provides a form to report the cybercrime to recieve justice.</p>

  </div>
  </div>

</div>

<br>

<div class="row d-flex justify-content-center align-items-center">    
  
  <div class="card" style="width: 24rem;">
  <img src="{% static 'h.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Home</h5>
    <p class="card-text">Cyberhawk is a user-friendly website to learn and report about cybercrimes.</p>

  </div>
  </div>

  <div class="card" style="width: 24rem;">
    <img src="{% static 'f.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">FAQ</h5>
      <p class="card-text">Cyberhawk answers all your frequently asked questions in the FAQ.</p>

  </div>
  </div>

  <div class="card" style="width: 24rem;">
    <img src="{% static 'n.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">News & Updates</h5>
      <p class="card-text">Cyberhawk provides safety tips to protect yourselves and news about cybercrimes.</p>
  </div>
  </div>

</div>
    
</div>

{% endblock %}