{% extends 'generalbase.html' %}

{% block content %}
<div class="container">
    <br>
    <h3>DISTRICT BASED CONTACT DETAILS</h3>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Index No.</th>
            <th scope="col">District Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Thiruvananthapuram</td>
            <td>9100910001</td>
            <td>cyberhawk01@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Kollam</td>
            <td>9100910002</td>
            <td>cyberhawk02@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Pathanamthitta</td>
            <td>9100910003</td>
            <td>cyberhawk03@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Alappuzha</td>
            <td>9100910004</td>
            <td>cyberhawk04@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Kottayam</td>
            <td>9100910005</td>
            <td>cyberhawk05@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Idukki</td>
            <td>9100910006</td>
            <td>cyberhawk06@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Ernakulam</td>
            <td>9100910007</td>
            <td>cyberhawk07@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Thrissur</td>
            <td>9100910008</td>
            <td>cyberhawk08@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Palakkad</td>
            <td>9100910009</td>
            <td>cyberhawk09@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Malapuram</td>
            <td>9100910010</td>
            <td>cyberhawk10@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Kozhikode</td>
            <td>9100910011</td>
            <td>cyberhawk11@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Wayanad</td>
            <td>9100910012</td>
            <td>cyberhawk12@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td>Kannur</td>
            <td>9100910013</td>
            <td>cyberhawk13@gmail.com</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td>Kasargod</td>
            <td>9100910014</td>
            <td>cyberhawk14@gmail.com</td>
          </tr>
        </tbody>
      </table>

</div>

{% endblock %}