{% extends 'generalbase.html' %}



{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    <h1>Log in</h1>
    <br>
    <form method="POST" action="{% url 'generallogin' %}">
    
    {% csrf_token %}
    
    <div class="mb-3">
    <input type="email" placeholder="Email" class="form-control" name="email" id="email" required>
    </div>
    <div class="mb-3">
    <input type="password" placeholder="Password" class="form-control" name="password" id="password" required>
    </div>
    <div class="mb-3">
        <a class="link-secondary" aria-current="page" href="{% url 'generalregister' %}">Register New Account</a>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">Log in</button>
    </form>
    </div>

{% endblock %}